name: Remote Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: s10.serv00.com
          username: ladogudi
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: /home/ladogudi/domains/bookcompare.ladogudi.serv00.net/public_python/deploy.sh
